#ageGateModalContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  

  background-color: #181818;
  border-radius: 20px;
  display: fixed;

  position: fixed;
  /* bottom: -150vh; */
  transition: all 150ms east-in-out;

  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  width: 50%;
  height: 50%;
  

  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);

  z-index:99;
}

.ageLogoContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ageGateHeadline {
  text-align: center;
  color: white;

  font-size: 18px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.ageGateButtons {
  text-align: center;

  margin-top: 10px;
  margin-bottom: 10px;

}

#yesAgeGate {
  margin-right: 20px;
  width: 100px;
}

#noAgeGate {
  margin-left: 20px;
  width: 100px;
}

#yesAgeGate:hover {
  color: #181818;
  background-color: #d9ab73;
}

#noAgeGate:hover {
  color: #181818;
  background-color: #d9ab73;
}

.termsAndConditions {
  text-align: center;
  color: white;

  font-size: 14px;

  margin-top: 10px;
  margin-bottom: 10px;
}