/* DEALS PAGE */

/* Deals Container */

.dealContainer {
  background-color: #181818 !important;
  max-width: 100% !important;
}

/* State Selector at Top of Page */

.stateSelector {

    position:relative;
    justify-self: center;
    text-align: center;
    align-content: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    z-index: 99;

    /* To Reduce the Hover Effect */
    margin-left: auto;
    margin-right: auto;

    width: max-content;
}
  
.stateSelector .currentState {
  font-family: "Crimson Text",serif;

  cursor: pointer;
  width: max-content;
  margin: auto;
  position: relative;
  text-align: center;

  font-size: 30px;
  
}

.currentState {
  position: absolute;
  color: #d9ab73;
}

.currentState::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -16px;
  border: 5px solid transparent;
  border-top: 5px solid #d9ab73;
  text-align: center;
}

.stateSelector:hover .selectableStates {
  cursor: pointer;
  position:absolute;

  display:block;
  
  z-index:99;
}

.selectableStates {
  display: none;
  position:absolute;

  font-family: "Crimson Text",serif;
  color: #d9ab73;
  background-color: rgb(24,24,24);
  
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  
  border-radius: 12px;
  width: max-content;

  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;

  z-index:99;
}

.selectableStates h4 {
  cursor: pointer;

  font-size: 29px;
  color: #d9ab73 !important;
  text-decoration: none !important;
  padding: 5px;

  z-index:99;
}

.selectableStates:hover {
  background-color:#d9ab73 !important;
  
  
}

.selectableStates:hover h4 {  
  color: #181818 !important;
}

.selectableStates a {
  text-decoration: none !important;
  border-radius: 12px;
}

/* CAROUSEL */

.heroContentRow {

}

.carouselContainer {
  position: relative;
  /* display: relative; */
  border: 1px solid #d9ab73;
  /* max-height: 600vh; */
  
  margin-bottom: 5vh;
}


/* Carousel Button and Logo */

.buttonLogoContainer {
  display: flex;
  position:relative;
  text-align: center;
  z-index: 50;
  
  height: 100%;
  width: 100%;
}

.buttonLogoContainer img {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 5vw;
  padding-bottom: 20px !important;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 90;

  max-width: none !important;
}

.newDealButton {
  cursor: pointer;
  position: absolute;
  
  top: 18vw;
  left: 50%;

  background-color: rgba(201, 76, 76, 0);
  
  color: #d9ab73;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  font-weight:900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 20px 50px 20px 50px;
  line-height: 3.2vw;

  border: 2px solid #d9ab73;
  border-radius: 12px;
  
  -ms-transform: translate(-50%);
  transform: translate(-50%);

  z-index:10;
}

.newDealButton:hover {
  cursor: pointer;
  background-color: #d9ab73;
  text-decoration: none;
  color: #232323;
  transition: all 0.2s ease-in-out;
}

.heroButtonBackground {
  /* pointer-events: none !important; */
  position:absolute; 
  background-color: rgb(0,0,0);
  opacity: 0.8;
  z-index: 1;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2) !important;

  width: 100%;
  height: 100%;

}

/* Main Carousel Content */

#mainCarouselContent {
  position: relative;
  width: 100%;
  /* margin-bottom: 2vw; */
  /* z-index: 1; */
}

.carouselImage {
  width: 100%;
  object-fit:cover;
}


/* Right Column */

.rightTopColumn {
  position: relative;
  /* width: 100%; */
  margin: none !important;
  padding: none !important; 
}

.topRightCouponContainer {
  position: relative;
  margin-top: 0;
  max-height: 600vh;
  overflow-y: hidden;
  /* width: 100%; */
  /* margin-bottom: 2vw; */
  border: 1px solid #d9ab73;
}

.topRightCouponContainer img {
  object-fit:contain;
  width: 100%;
  
}

/* //////////////////////////// */
/* /////// CSS GRID /////////// */
/* //// Weekly Coupon Grid //// */
/* //////////////////////////// */

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px 25px;

  /* margin-left: 15px; */
  margin-right: 15px;
  
  width: 100%;
}

.grid-item {
  display: grid;
  
}

#gridId1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#gridId2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#gridId3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#gridId4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

#gridId5 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#gridId6 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.grid-item img {
  max-width: 100%;
}


/* OLD WEEKLY COUPONS CSS (dont delete yet) */
/* --------------------------------- */

#weeklyCouponRows{   
  padding-top: 20px;
  padding-bottom:20px;
}

#weeklyCouponRowsMobile {
  margin-top: 15px;
  margin-top: none;
  /* margin-left: 15px; */
  width: 100%;
  margin-bottom:15px;
}

.weeklyCoupon {
  position: relative;
  border: 1px solid #d9ab73;

  margin-bottom: 30px;
}

.weeklyCoupon img {
  position: relative;
  width: 100%;
}


/* DEALS MOBILE */

#bottomRow {
  padding-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
  .newDealButton {
    font-size: 2vw;
    padding: 20px 50px 20px 50px;
    font-weight: 900;
  }
}

@media only screen and (max-width: 768px) {


  /* .heroDealsLogo {
    cursor: pointer;
    width: 140%;
    position: absolute;
    top: 5vw;
  
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  
  } */

  .newDealButton {
    
    line-height: 3.2vw;
    
    font-size: 2vw;
    font-weight: 900;
    
    max-width: none;
    max-height: none;

    padding: 5px 20px 5px 20px;

    border-radius: 8px;
    
  }

}

@media only screen and (min-width: 425px) {
  #desktopAndTabletView {
    display: block;
  }
  #mobileView {
    display: none;
  }
}

@media only screen and (max-width: 425px) {

  #firstRow {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #desktopAndTabletView {
    display: none;
  }
  #mobileView {
    display: block;
    /* padding: 0px; */
  }

  .heroDealsLogo {
    width: 140%;
    top: 2vw;
  }

  .newDealButton {
    top: 22vw;
    left: 50%;

    line-height: 3.2vw;
    
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    font-weight: 900;
    
    max-width: none;
    max-height: none;

    padding: 10px 15px 10px 15px;

    border-radius: 8px;
    border: 2px solid #d9ab73;
  }

  #secondRow {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    margin-top: 0;
    margin-bottom: -10px;
  }

}



@media only screen and (max-width: 320px) {
  
  .newDealButton {
    top: 21vw;
    left: 50%;

    line-height: 3.2vw;
    
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 900;
    
    max-width: none;
    max-height: none;

    padding: 10px 15px 10px 15px;

    border-radius: 8px;
    border: 2px solid #d9ab73;
  }
  
}