#navbar {
    position: sticky;
    display: block;
    top:0;
    background-color: rgb(24,24,24);
    width: 100%;
    z-index: 98;
    text-align: right;
    padding: 14px;
    box-shadow: 0 2px 8px -2px black;

    overflow-x: hidden;
  }
  
  .navbarImage {
    float: left;
  }

  .navbarImage img {
    float: left;
    width: 12em;
  }

  .navbarMainItems {
    float: right;
  }

  #navbar a:hover {
    color: #d9ab73;
  }
  
  .mainNavItem {
    
    color: #f2e6d5;
    
    text-decoration: none;
    
    font-size: 28px;
    font-family: "Crimson Text Pro", serif;
    padding: 14px;
    
  }

  .donateImg{
    width: 70px !important;
    transition: all ease-out 0.2s;
  }


@media screen and (max-width: 768px){
  #navbar img {
    width: 10em;
  }
  .mainNavItem {
  font-size: 22px;
  }
}

@media screen and (max-width: 425px){
  #navbar {
    padding: 10px;
  }
  #navbar img {
    width: 8em;
  }
  .mainNavItem {
    font-size: 18px;
    padding: 10px;
  }
  
}

@media screen and (max-width: 375px){
  #navbar img {
    width: 7em;
  }
  .mainNavItem {
    font-size: 16px;
  }

  
}